.home-container{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0;
}

.home-left{
  width: 50%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
  color: #e9ecef;
}

.home-right{
  width: 50%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #e9ecef;
  color: #000000;
  
}

.home-container p{
  font-size: large;
  font-weight: 500;
  font-style: italic;
}

.home-link{
  margin: 30px;
  font-weight: 600;
}